@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --bg-color: #f0f0f0;
  --text-color: #333;
}

nav {
  display: flex;
  gap: 10px;
  padding: 10px;
  background-color: var(--bg-color);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content to the top */
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  color: var(--text-color);
}

.inputContainer,
.resultsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputArea {
  height: auto;
  max-width: 600px;
  margin: 15px 0;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
}

.resultsArea {
  height: 50vh;
  margin: 10px 0;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
  overflow: auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; /* Reduce this value as needed */
}

.main-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
}
.main-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.searchButton {
  font-size: 1em;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: #0056b3;
}

.darkModeButton {
  font-size: 0.9em;
  padding: 3px 3px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #233242;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.darkModeButton:hover {
  background-color: #32485f;
}

.loginButton {
  font-size: 0.9em;
  padding: 3px 3px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginButton:hover {
  background-color: #0056b3;
}

.loginDiv {
  display: flex;
  justify-content: left;
  gap: 6px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.logoutButton {
  font-size: 0.9em;
  padding: 3px 3px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logoutButton:hover {
  background-color: #0056b3;
}

.registerButton {
  font-size: 0.9em;
  padding: 3px 3px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.registerButton:hover {
  background-color: #0056b3;
}

.registerDiv {
  display: flex;
  justify-content: left;
  gap: 6px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.result {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.case-detail {
  padding-left: 20px;
  padding-bottom: 20px;
}

.discussionDiv {
  display: flex;
  gap: 6px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.addCommentButton {
  font-size: 0.9em;
  padding: 4px 4px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addCommentButton {
  background-color: #0056b3;
}

.chooseFile {
  display: flex;
  justify-content: center;
}

.fileInputLabel {
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
  color: #333;
  font-weight: bold;
}

.fileInputLabel:hover {
  color: #007bff;
}

.fileInputWrapper {
  display: grid;
  place-items: center;
  width: 100%;
}
