@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --bg-color: #f0f0f0;
  --text-color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.inputContainer,
.resultsContainer {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 20px;
  border-radius: 8px;
}

.inputArea {
  height: auto;
  max-width: 600px;
  margin: 15px 0;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
}

.inputArea,
.searchButton {
  border-radius: 8px;
}

.resultsArea {
  height: 50vh;
  margin: 10px 0;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
  overflow: auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.main-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.main-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 30px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.buttonContainer {
  gap: 15px;
}
.searchButton {
  font-size: 1em;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #233242;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.darkModeButton {
  font-size: 0.9em;
  padding: 3px 3px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #233242;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.darkModeButton:hover {
  background-color: #32485f;
}

.loginButton {
  font-size: 0.9em;
  padding: 3px 3px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #233242;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginButton:hover {
  background-color: #32485f;
}

.loginDiv {
  display: flex;
  justify-content: left;
  gap: 6px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.logoutButton {
  font-size: 0.9em;
  padding: 3px 3px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #233242;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logoutButton:hover {
  background-color: #32485f;
}

.registerButton {
  font-size: 0.9em;
  padding: 3px 3px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #233242;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.registerButton:hover {
  background-color: #32485f;
}

.registerDiv {
  display: flex;
  justify-content: left;
  gap: 6px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.result {
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.result:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

.case-detail {
  padding-left: 20px;
  padding-bottom: 20px;
}

.discussionDiv {
  display: flex;
  gap: 6px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.addCommentButton {
  font-size: 0.9em;
  padding: 4px 4px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #233242;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addCommentButton:hover {
  background-color: #32485f;
}

.chooseFile {
  display: flex;
  justify-content: center;
}

.fileInputLabel {
  border: 1px solid #ccc;
  transition: background-color 0.1s ease, color 0.1s ease;
}

.fileInputLabel:hover {
  background-color: #007bff;
  color: white;
}

.fileInputWrapper {
  display: grid;
  place-items: center;
  width: 100%;
}

.case-detail h1,
.case-detail h2 {
  border-bottom: 0px solid currentColor;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.case-detail div {
  margin-bottom: 2rem;
}

/* Adjust the hover effect of buttons in dark mode */
.bg-gray-900 {
  background-color: #32485f;
}

/* Adjust error messages for dark mode */
.bg-gray-900 .errorContainer {
  background-color: #b31a1a;
  color: #f0f0f0;
}

/* Adjust results container for dark mode */
.bg-gray-900 .result {
  background-color: #555;
  border: 1px solid #444;
  color: #f0f0f0;
}

/* Adjust link colors for results in dark mode */
.bg-gray-900 .result a {
  color: #f0f0f0;
}

.result a:hover {
  color: #078d92; /* light mode */
}

.bg-gray-900 .result a:hover {
  color: #40c0ff; /* dark mode */
}

.resultLink {
  text-decoration: none;
  color: inherit; /* to inherit the parent color */
  display: block;
}

.resultLink:hover .result {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

/* Adjust link colors for results in light mode */
.resultLink .result {
  color: #333; /* light mode default */
}

.resultLink:hover .result {
  color: #078d92; /* light mode hover */
}

/* Adjust link colors for results in dark mode */
.bg-gray-900 .resultLink .result {
  color: #f0f0f0; /* dark mode default */
}

.bg-gray-900 .resultLink:hover .result {
  color: #40c0ff; /* dark mode hover */
}
