@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

nav {
  display: flex;
  gap: 10px;
  padding: 10px;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content to the top */
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.inputContainer,
.resultsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputArea {
  height: auto;
  max-width: 600px;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
}

.resultsArea {
  height: 50vh;
  margin: 10px 0;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
  overflow: auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; /* Reduce this value as needed */
}

.main-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
}
.main-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.searchButton {
  font-size: 1em;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: #0056b3;
}

.result {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
